.searching_section_container {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.searching_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.searching_section_title {
    font-size: 40px;
    color: white;
    font-family: "Nunito", sans-serif;
    margin-bottom: 32px;
    text-align: center;
}

.searching_text_input {
    border-radius: 16px;
    height: 40px;
    padding: 8px;
    font-family: "Nunito", sans-serif;
    width: 70%;
}

@media (max-width: 700px) {
    .searching_form {
        justify-content: space-between;
        align-items: center;
    }
}

.separator {
    color: #9F3647;
    background: #9F3647;
    width: 100%;
    height: 3px;
    opacity: 1;
}